[defaults]
inventory = inventory/hosts.yml
roles_path = ~/.ansible/roles:roles
collections_paths = ~/.ansible/collections
host_key_checking = true
retry_files_enabled = false
interpreter_python = auto_silent
forks = 10
timeout = 30

[ssh_connection]
pipelining = true
