# Managed by Ansible: linux-server-setup resolver_client
{% for nameserver in resolver_client_nameservers %}
nameserver {{ nameserver }}
{% endfor %}
{% if resolver_client_search_domains | length > 0 %}
search {{ resolver_client_search_domains | join(' ') }}
{% endif %}